.footer-box{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footer-box .separator{
	margin-bottom: 10px;
}

.announcements{
	width: 60%;

}

.footer-logo-cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.favs{
	width: 30%;
}

@media screen and (max-width: 415px) {
	.footer-box{
		flex-direction: column;
	}

	.announcements{
		width: 95%;
	}

	.footer-logo-cont .logo{
		width: 45% !important;
		margin-top: 0;
	}

	.favs{
		width: 95%;
		margin-bottom: 1em;
	}

	.footer {
		flex-direction: column;
		padding-top: 10px;
	}
	.nuva{
		margin-top: 10px;
	}
}