.intro{
	display: flex;
	flex-direction: column;
}

.welcome{
	font-family: Avenir;
	text-transform: uppercase;
	color: #4CAF50;
	font-size: 24px;
	padding-bottom: 10px;
	text-align: center;
}

.separator{
	margin-top: 1em;
	width: 100%;
	background: #8bc34a;
	background: -webkit-linear-gradient(left, #8bc34a, #4caf50);
	background: -o-linear-gradient(left, #8bc34a, #4caf50);
	background: linear-gradient(to right, #8bc34a, #4caf50);
}

.spacer-box{
	height: 150px;
	width: 100%;
}

.content{
	width: 100%;
	display: flex;
}

.brief{
	display: flex;
	width: 100%;
	margin-top: 3em;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3em;
}

.phrase, .beclean{
	width: 48%;
}

.phrase{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	

}

.phrase .container{
	width: 100%;
	display: flex;
	min-height: 200px;
	padding: 10px;
	font-family: BlogScript;
	font-size: 28px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.phrase-text{
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.beclean h2{
	font-family: BlogScript;
}

.cats_section{
	display: flex;
	width: 100%;
	margin-bottom: 4em;
	justify-content: space-between;
}

.cats_section a{
	width: 20%;
	height: 60px;
	text-align: center;
	font-family: BlogScript;
	font-size: 24px;
	display: flex;
	align-items: center;
	background-image: url('../img/s_leaves.png');
	background-repeat: no-repeat;
	background-size: 20%;
	padding-left: 30px;
	color: #424242;
	transition: all 0.2s ease;
	border-bottom: 2px solid #ffffff;
}

.cats_section a:hover{
	background-size: 25%;
	border-bottom: 2px solid #8bc34a;
}

.newsletter{
	width: 100%;
	margin: 0 auto;
	border: 2px solid #99ca3c;
	margin-bottom: 4em;
	display: flex;
}

.newsletter form{
	width: 100%;
}

.newsletter .description{
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	background-color: #99ca3c;
	width: 100%;
	padding: 10px;
}

.newsletter .form{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-family: Avenir;

}

.newsletter .form input[type="email"],
.newsletter .form input[type="text"]{
	width: 40%;
	padding: 5px;
	font-family: Avenir;
}

.newsletter .form input[type="submit"]{
	width: 19%;
	background-color: #f34235;
	border: none;
	color: #fff;
	font-family: Avenir;
}

.posts-header{
	font-family: BlogScript;
	font-size: 28px;
}

@media screen and (max-width: 415px) {
	.welcome{
		text-align: right;
		margin-bottom: 20px;
	}

	.excerpt{
		text-align: justify;
	}

	.logo{
		margin-top: 50px;
		width: 250px;
	}

	.brief{
		width: 100%;
		flex-direction: column;
	}

	.brief .phrase{
		width: 100%;
	}

	.brief .beclean{
		width: 90%;
		margin-top: 30px;
	}

	.brief .beclean p{
		text-align: justify;
	}

	.cats_section{
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	.cats_section a{
		width: 70%;
		margin: 0 auto;
		padding-left: 45px;
	}

	.newsletter .form{
		display: flex;
		flex-direction: column;
	}

	.newsletter .form input[type="text"],
	.newsletter .form input[type="email"],
	.newsletter .form input[type="submit"]{
		width: 100%;
	}

	.post{
		flex-direction: column-reverse;
	}

	.post-thumbnail{
		width: 90%;
		height: 150px;
	}

}